@import "./color";

@font-face {
    font-family: BebasNeue;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
}
#root{
    h2{
        text-align: center;
        padding: 10px;
        background-color: $ws;
        color: #000000;
    }
}